body{
    margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color:rgb(211, 245, 235); 
        
    }
      /* <!--header-->  */

     #container{
        width: 100%;
        height: 19vh;
    
        
        
     }
     .div1{
         /* position: relative; */
        
         position: fixed;
         top: 0px;
         
         
     } 
     .ul1{
         
         position: absolute;
         /* background-color: #8bb0e8; */
         padding: 60px;
         margin-top: 0;
        width: 1230px; 
        background-color:rgb(130, 193, 173); 
          
     } 
         
     li{
     position: absolute;
         display: inline;
         
         
         
     
     }
     
     
     #home{
         position: absolute;
         margin-left:780px ;
         margin-top: 0px;
         text-transform: capitalize;
         font-size: x-large;
         padding: 5px;
         color:black;
         font-weight: bolder;
     
     
     }
     .about{
         position: absolute;
         margin-left:870px ;
         text-transform: capitalize;
         font-size: x-large;
         margin-top: 0px;
         padding: 5px;
         color: black;
         font-weight: bolder;
     }
     .services{
         position: absolute;
         margin-left:960px ;
         margin-top: 0px;
         text-transform: capitalize;
         font-size: x-large;
         padding: 5px;
         color: black;
         font-weight: bolder;
     }
     .contact{
         position: absolute;
         margin-left:1070px ;
         margin-top: 0px;
         text-transform: capitalize;
         font-size: x-large;
         padding: 5px;
         color: black;
         font-weight: bolder;
         
     }
     
     
     a{position: absolute;
         color:white;
         text-decoration: none;
         box-shadow:  0 0 3px black;
         padding: 4px;
         margin-left:700px ;
     }
     a:hover{
        background-color:rgb(186, 241, 225)}

     
     
     .img1{
         position: absolute;
         width: 60px;
         margin-bottom: 15px;
        animation: zoomIn;
         animation-duration:5s; 
         
     }
     .li2{
         position: absolute;
         margin-left: 10px;
         
         
     }
     .l1{
         position: absolute;
         margin-left:100px ;
         font-size:xx-large;
         font-family: Arial, Helvetica, sans-serif;
         font-style: italic;
         margin-top: 12px;
         color: black;
         font-weight: bolder;
     }
     .lis{
color: rgb(20, 135, 70);
     }
     /* <!--header--> */
     

     /* about */
.about-us{
    width: 100%;
    height: 30vh;
}
.div1{
    position: relative;
    background-color: #8bb0e8;
    
}
#hsa{
    position: absolute;
    text-align:center;
    margin-left: 0px;
    margin-top: 0px;
background-color: black;
    padding: 5px;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    width: 1335px;
    font-style: oblique;
color:rgb(130, 193, 173);
animation:flipInX;
    animation-duration:3s ; 
   
       
}
.p1{
    position: absolute;
     margin-top: 80px; 
    margin-left: 600px;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-decoration: underline;
    
}
.p2{
    position: absolute;
    margin-top: 150px;
    margin-left: 500px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    margin-right: 50px;
    line-height: 30px;}


.fimg {
    position: absolute;
     margin-top: 150px;
    width:300px ;
    margin-left: 100px;
}

/* about */

/* footer */
.footer{
    width: 100%;
    height:50vh;
}


.div7{
    position: relative;
    background-color:rgb(130, 193, 173); 
     width:100%;
    height: 300px;
    margin-top: 400px;

    
    
}
.ul8 {
    
    position: absolute;
    background-color:rgb(227, 240, 236);
    width: 1300px;
    height:60px ;
    margin-top: 130px;
    
}
 .fb {
    position: absolute;
    margin-left: 710px;
    box-shadow: none;
    margin-top: 10px;
    
}
img {
    width: 25px;
    box-shadow: none;
   
   
}
.fb:hover{
    background-color:#0066ff;
}

.ins {
    position: absolute;
    margin-top: 10px;
    margin-left: 830px;
    box-shadow: none;
   
}
.ins:hover{
    background-color:#0066ff;
}
.gog {
    position: absolute;
    margin-top: 10px;
    margin-left: 750px;
    box-shadow: none;
    

}
.gog:hover{
    background-color:#0066ff;
}

.lin {
    position: absolute;
    margin-top: 10px;
    margin-left: 790px;
    box-shadow: none;
 
    
}
.lin:hover{
    background-color:#0066ff;
}
.p10{
    font-size: 25px;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
margin-top: 15px;

margin-left:60px ;


} 
.map{

    position: absolute;
    margin-top: 10px;
    margin-left: 870px;
    box-shadow: none;
   
   
}

.map:hover{
    background-color:#0066ff;   
}
.top{
    position: absolute;
    margin-top: 170px;
    margin-left: 570px;
    box-shadow: none;
    

}
.top:hover{
    background-color:black;
    
    
}

.p11{
    position: absolute;
    font-size: medium;
font-family: Arial, Helvetica, sans-serif;
font-weight: lighter;
margin-top:60px ;
margin-left: 420px;
font-weight: bolder;

}
.p12{

    position: absolute;
    font-size: medium;
font-family: Arial, Helvetica, sans-serif;
font-weight: bolder;
margin-top:20px ;
margin-left: 470px;

}

.p13{
    position: absolute;
    font-size: medium;
font-family: Arial, Helvetica, sans-serif;
font-weight: lighter;
margin-top:100px ;
margin-left: 150px;
font-weight: bolder;

}
.logo{ 
    position: absolute;
    width: 40px;
    margin-top:140px ;
    margin-left: 30px;

}
.p14{
    position: absolute;
    margin-top:370 ;
    margin-left:520px ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    font-weight: bolder;
    font-style: oblique;
    text-transform: capitalize;
    font-weight: bolder;
   
}

.dip{
    color: rgb(20, 135, 70);
} 
